@import "tailwindcss";


.button{
    color: black;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 12px;
}

label{
    font-size: large;
}

.select {
    appearance: none;
    background-color: white;
    border: 2px solid #007BFF; 
    color: #007BFF;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 320px;
}

.select:focus {
    outline: none;
    border-color: #0056b3; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

input:focus{
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    border-color: #0056b3; 
}

